<!doctype html>
<html>
<head>
    <title>Beats & Bars</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://gist.github.com/mfd/09b70eb47474836f25a21660282ce0fd" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/profile.css">
    <link rel="stylesheet" href="assets/css/default.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/theme-orange.css">

</head>
<body>
<div class="container" id="loginOrSignup">

    <div class="jumbotron text-center">
        <h1 class="mb-0 super effect-static-text">Beats & Bars</h1>

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default loginBtns"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default loginBtns "><span class="fa fa-user"></span>Sign Up</a>

    </div>

</div>
</body>
</html>
